.firstborder{
    background-color: #5C5C5C;
    padding:5px;
}

.logo{
    width: 140px;
    height: 100px;
    padding-left: 110px;
    padding-right: 40px;
}

.navtop{
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 10px;
}

.navtop li{
    float: left;
}

.navlinks{
    list-style-type: none;
    margin-top: 80px;
}

.navlinks li{
    display: inline;
    padding: 28px;
}

.navlinks li a{
    text-decoration: none;
    font-size: 17px;
    color: #b3b2b2;
}

.navlinks li a:hover{
    color: #5c5c5c;
}

#homebutton{
    color: #62CFD4;
}

#homebutton:hover{
    color: #5c5c5c;
}
.navname{
    font-size: 35px;
    color: #59595B;
}

.navdesc{
    font-size: 20px;
    color: #878789;
}

.imgprofile{
    width: 420px;
    height: 400px;
    align-self: center;
    border-radius: 100%;
}

.greetings{
    padding: 50px;
}

.hello{
    font-size: 58px;
    color: #5C5859;
}

.hellodesc{
    font-size: 40px;
    color: #5C5859;
}

.circles{
    margin-top: 80px;
}
.circles li {
    list-style-type: none;
    display: inline;
    padding-top: 55px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 55px;
    border-radius: 100%;
    margin-left: 20px;
}

.circles li a{
    text-decoration: none;
    color: rgb(248, 248, 248);
}

.circles li a:hover{
    color: #1d1d1d;
}

.paragraph{
    margin-top: 70px;
    color: #635f60;
}

#c1{
    background-color: #E83555;
}

#c2{
    background-color: #62CFD4;
}

#c3{
    background-color: #D1C825;
}


.container3 .gallery{
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 220px;
    padding: 20px;
    margin-left: 50px;
}

.container3 .gallery:hover{
    border: 1px solid #D1C825;

}

.container3 .gallery img{
    width: 100%;
    height: auto;
}

.container3 .gallery .desc{
    padding: 15px;
    text-align: center;
    background-color: white;
    color: #1d1d1d;
}

.container3 .gallery .desc h3{
    font-size: 14px;
}

.container3 .gallery .desc p{
    font-size: 13px;
}

.rectangle1{
    background-color: #E83555;
    padding: 30px;
}

.titlename{
    margin:auto;
    text-align: center;
    background-color: #1d1d1d;
    margin-top: 5px;
    padding: 2px;
    font-size: 26px;
    color: white;
}
.line{
    color: #62CFD4;
    margin: 0;
}


.about1{
    margin-top: 60px;
    border: 3px double #363636;
    padding: 20px;
   
}
.about1 h3{
    font-size: 40px;
    margin-bottom: 5px;
    color: #363636;
}

.about1 h4{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 18px;
    color: #59595B;
}

.about1 h5{
    margin-top: 5px;
    font-size: 16px;
    margin: 0;
    color: #59595B;
}

.about1 p{
    margin-top: 5px;
    font-size: 15px;
    color: #59595B;
}

.about1 ul li{
    margin-top: 5px;
    font-size: 15px;
    color: #59595B;
}
.container4 div{
    margin-left: 10px;
}
/** end **/
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 170px;
}

.container2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    background-color: #EBE5E5;
}

.container3{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 30px;
    background-color: #1d1d1d;
}

.container4{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 30px;
}
