.firstborder{
    background-color: #5C5C5C;
    padding:5px;
}

.logo{
    width: 140px;
    height: 100px;
    padding-left: 110px;
    padding-right: 40px;
}

.navtop{
    list-style-type: none;
    padding-top: 20px;
    padding-bottom: 10px;
}

.navtop li{
    float: left;
}

.navlinks{
    list-style-type: none;
    margin-top: 80px;
}

.navlinks li{
    display: inline;
    padding: 28px;
}

.navlinks li a{
    text-decoration: none;
    font-size: 17px;
    color: #b3b2b2;
}

.navlinks li a:hover{
    color: #5c5c5c;
}

#homebutton{
    color: #62CFD4;
}

#homebutton:hover{
    color: #5c5c5c;
}
.navname{
    font-size: 35px;
    color: #59595B;
}

.navdesc{
    font-size: 20px;
    color: #878789;
}

.imgprofile{
    width: 420px;
    height: 400px;
    align-self: center;
    border-radius: 100%;
}

.greetings{
    padding: 50px;
}

.hello{
    font-size: 58px;
    color: #5C5859;
}

.hellodesc{
    font-size: 40px;
    color: #5C5859;
}

.circles{
    margin-top: 80px;
}
.circles li {
    list-style-type: none;
    display: inline;
    padding-top: 55px;
    padding-right: 30px;
    padding-left: 30px;
    padding-bottom: 55px;
    border-radius: 100%;
    margin-left: 20px;
}

.circles li a{
    text-decoration: none;
    color: rgb(248, 248, 248);
}

.circles li a:hover{
    color: #1d1d1d;
}

.paragraph{
    margin-top: 70px;
    color: #635f60;
}

#c1{
    background-color: #E83555;
}

#c2{
    background-color: #62CFD4;
}

#c3{
    background-color: #D1C825;
}

/** end **/
.container{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding-right: 170px;
}

.container2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 5px;
    background-color: #EBE5E5;
}
